@import "../../global.scss";
.portfolio{
    background-color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    text-align-last: center;

    @include mobile{
        padding-left: 0;
        padding-right: 0;
        align-items: center;
    }

    .amazon{
        display: flex;
        justify-content: center;
        align-items: center;     
        width: 225px;
        margin: 0 auto; /* Center horizontally using margin */
    }

    .colgate{
        display: flex;
        justify-content: center;
        align-items: center;     
        width: 450px;
        margin: 0 auto; /* Center horizontally using margin */

        @include mobile{
            width: 350px;
        }
    }

    .oracle{
        display: flex;
        justify-content: center;
        align-items: center;     
        width: 275px;
        margin: 0 auto; /* Center horizontally using margin */
    }

    .ups{
        display: flex;
        justify-content: center;
        align-items: center;     
        width: 125px;
        margin: 0 auto; /* Center horizontally using margin */
    }

    .rutgers{
        display: flex;
        justify-content: center;
        align-items: center;     
        width: 300px;
        margin: 0 auto; /* Center horizontally using margin */
    }

    h1{
        font-size: 45px;
        align-items: center;
        display: flex;
        flex-direction: column;
        text-decoration: underline;

        @include mobile{
            font-size: 35px;

        }
    }
    
    .company{
        font-size: 32.5px;
       // padding-left: 10%;
        padding-top: 20px;

        @include mobile{
            padding-left: 5%;
            padding-right: 5%;
            font-size: 30px;
        }
    }

    .location{
        font-size: 22.5px;
        font-style: italic;
        font-weight: 100;
    
        @include mobile{
            padding-left: 5%;
            padding-right: 5%;
            padding-bottom: 10px;
            font-size: 20px;
            text-align-last: center;

        }

    }

    .companyInfo{
        padding-top: 5px;
        font-size: 20px;
        padding-left: 15%;
        padding-right: 15%;
        font-weight: 100;

        @include mobile{
            padding-left: 5%;
            padding-right: 5%;
            font-size: 17.5px;

        }
    }
}